*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
}

/* centering the page */
#page-wrapper{
    width: 80vw;
    margin: 0 auto;
}

/* header */
header{
    display: flex;
    flex-direction: column;
    padding: 1vh 1vw;
    background-color: #433878;
    color: floralwhite;
}

/* navigation */
#content{
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: #FFF0F5;
}

nav{
    width: 25%;
}

nav ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #7E60BF;
    font-size: calc(1px + 1vw);
    text-align: center;
    list-style: none;
    padding-left: 0;
}

nav li{
    font-size: calc(2px + 2vw);
    width: 80%;
    background-color:#FFE1FF;
    padding: 2vh;
    margin: 5vh auto;
}


nav a{
    text-decoration: none;
}
/*navigation ends*/

main{
    display: flex;
    flex-direction: column;
    width:70%;
    background-color: #FFF0F5;
}

main p{
    margin: 0 1vw;
    font-size: calc(2px + 2vw);
}

#main{
    width: 100%;
    display: block;
    flex-direction: row;
    padding: 2vh 2vw;
}

#cemc, #nec, #arml, #bu{
    border-left: 5px solid #E4B1F0;
    margin-bottom: 1em;
    padding-left: 5px;
}

#main-title{
    margin: 2vw 0;
    text-align: center;
    font-size: calc(2px + 2vw);
    color: #433878;
}
/* contents end */

footer{
    background-color: #433878;
    color: floralwhite;
    padding: 1vh 1vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#time-date{
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
}

footer a{
    color: floralwhite;
}

@media screen and (max-width: 900px) {
    header{
        align-items: center;
    }

    #content{
        width: 100%;
        height: 100vh;
        flex-direction: column;
    }

    nav{
        width: 100%;
    }

    nav ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #7E60BF;
        list-style: none;
        padding-left: 0;
    }

    nav li{
        font-size: calc(2px + 1.5vw);
        background-color:#FFE1FF;
        padding: 1% .5%;
        margin: 1% .5%;
    }

    nav a{
        text-decoration: none;
    }

    main{
        display: flex;
        flex-direction: column;
        width:100%;
        height: 100vh;
        background-color: #FFF0F5;
    }

    main p{
        margin: 2% 2%;
        font-size: calc(2px + 3vw);
    }

    #main{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #cemc, #nec, #arml, #bu{
        align-self: center;
        width: 100%;
        margin: 1vh 1vw;
    }

    #main-title{
        text-align: center;
        color: #433878;
    }
}